<!DOCTYPE html>
<html>
<head>
	<title>Administrator Portal</title>
	<script src="/socket.io/socket.io.js"></script>
	<script> socket = io(); </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>
<body>
	<a href="/">Back</a>
	<h1>Letters</h1>
	<p id="failureToEdit" hidden>Another administrator is currently editing that letter draft. You are unable to proceed.</p>
	<table>
		<tr>
			<th>Letter Content</th>
			<th>Time Received</th>
			<th>Draft Started?</th>
		</tr>
		{{#letters}}
		<tr>
			<td><a onclick="socket.emit('requestLetter', {{uid}});">{{preview}}</a></td>
			<td>{{time_received}}</td>
			<td>{{draft_started}}</td>
		</tr>
		{{/letters}}
	</table>

	<form action="/newAdmin" method="POST">
		<h4>Authorize a New Administrator Account</h4>
		<input name="email" type="text" placeholder="Enter email">
		<input name="name" type="text" placeholder="Name">
		<input type="submit">
	</form>
</body>
<script>
	$failureToEdit = $('#failureToEdit');

	// receive a response from the server about ability to edit a given letter
	socket.on('requestLetterResponse', function(canEdit, letterUID) {
		if (canEdit) {
			// if able to edit this draft currently, redirect to letter page
			window.location.href = "/letter/" + letterUID;
		} else {
			// show error message
			$failureToEdit.show().delay(4000).fadeOut();
		}
	});
</script>
</html>