body, html {
  padding: 0px;
  margin: 0px;
}

body {
  background: #d9d9d9;
}

* {
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4d4d4d;
}

li {
  float: left;
}

li a {
  display: block;
  color: #1aa3ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#centerDiv {
  background-color: blue;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-top: 200px;
}

#sendLink {
  color: #1aa3ff;
  text-decoration: none;
}

#sendLink:hover {

}