body, html {
  padding: 0px;
  margin: 0px;
}

body {
  background: #d9d9d9;
}

* {
  font-family: 'Lato', sans-serif;
}

#centerDiv {
  background-color: blue;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-top: 200px;
}

#sendLink {
  color: #1aa3ff;
  text-decoration: none;
}

#sendLink:hover {
  color: #66c2ff;
}